/*
BEGIN - Sticky Headers and Columns
Based on https://jsfiddle.net/RMarsh/bzuasLcz/3/
*/
.jsInsumFreezeColHead table.t-Report-report {
  position: relative;
  /*width: 700px;*/
  overflow: hidden;
  border-collapse: collapse;
}


/*thead*/
.jsInsumFreezeColHead table.t-Report-report thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  overflow: visible;
  /*width: 700px; set width to the container region via JS */
}


/*tbody*/
.jsInsumFreezeColHead table.t-Report-report tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  height: 500px;  /*consider setting height to the container region via JS*/
  overflow: scroll;
 /*width: 700px; set width to the container region via JS */
}

.borderBottonColumn {
  border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.borderRightColumn {
  border-right: 2px solid rgba(0, 0, 0, .5) !important;
  overflow: visible;
}


.freezeTd {
  position: relative;
  background-color: #ffffff !important;
}
/*
.t-Report--altRowsDefault .t-Report-report tr:nth-child(odd) .t-Report-cell{
  background-color: #ffffff !important;
}*/

/*
END - Sticky Headers and Columns
*/